@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,100..900&display=swap');

$primary-color: #F8F8F8AA;
$background-color: #1F1F1F;
$rainbow-color-1:  hsla(45,   80%, 25%, .8);
$rainbow-color-2:  hsla(180,  80%, 25%, .8);
$rainbow-color-3:  hsla(315,  80%, 25%, .8);

body {
	font-family: 'Raleway', 'Segoe UI Light', 'Segoe UI', Arial, Helvetica, sans-serif;
}

body {
	background-color: $background-color;
}
