:root {
	--primary-color: #F8F8F8AA;
	--background-color: #1F1F1F;

	--rainbow-color-1:  hsla(45,   80%, 25%, .8);
	--rainbow-color-2:  hsla(180,  80%, 25%, .8);
	--rainbow-color-3:  hsla(315,  80%, 25%, .8);
}




/* ┌──────────────────────────────┐
   │            Sliders           │
   └──────────────────────────────┘ */


input[type=range] {
	height: 5px;
	-webkit-appearance: none;
	width: 100%;
	border-radius: 5px;
	background: var(--rainbow-color-1);
}

input[type=range]:focus {
	outline: none;
}



















input[type=range]::-webkit-slider-runnable-track {
	display: none;
}

input[type=range]::-moz-range-track {
	display: none;
}

input[type=range]::-ms-track {
	display: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	display: none;
}

input[type=range]::-webkit-slider-thumb {
	border: none;
	-webkit-appearance: none;
	height: 14px;
	width: 14px;
	margin-top: -5px;
	background: var(--background-color);
	border: 3px solid var(--rainbow-color-3);
}

input[type=range]::-moz-range-thumb {
	border: none;
	-webkit-appearance: none;
	height: 14px;
	width: 14px;
	margin-top: -5px;
	background: var(--background-color);
	border: 3px solid var(--rainbow-color-3);
}

input[type=range]::-ms-thumb {
	border: none;
	-webkit-appearance: none;
	height: 14px;
	width: 14px;
	margin-top: -5px;
	background: var(--background-color);
	border: 3px solid var(--rainbow-color-3);
}























input[type=range]:nth-child(1) {
	background: var(--rainbow-color-1);
	background: linear-gradient(to right, var(--rainbow-color-2), var(--rainbow-color-3));
}
input[type=range]:nth-child(2) {
	background: var(--rainbow-color-2);
	background: linear-gradient(to right, var(--rainbow-color-3), var(--rainbow-color-1));
}
input[type=range]:nth-child(3) {
	background: var(--rainbow-color-3);
	background: linear-gradient(to right, var(--rainbow-color-1), var(--rainbow-color-2));
}

input[type=range]:nth-child(1)::-webkit-slider-thumb, input[type=range]:nth-child(1)::-moz-range-thumb/*, input[type=range]:nth-child(1)::-ms-thumb*/ {
	border-color: var(--rainbow-color-1);
}

input[type=range]:nth-child(2)::-webkit-slider-thumb, input[type=range]:nth-child(2)::-moz-range-thumb/*, input[type=range]:nth-child(2)::-ms-thumb*/ {
	border-color: var(--rainbow-color-2);
}

input[type=range]:nth-child(3)::-webkit-slider-thumb, input[type=range]:nth-child(3)::-moz-range-thumb/*, input[type=range]:nth-child(3)::-ms-thumb*/ {
	border-color: var(--rainbow-color-3);
}

input[type=range]:nth-child(1):hover::-webkit-slider-thumb, input[type=range]:nth-child(1):hover::-moz-range-thumb/*, input[type=range]:nth-child(1):hover::-ms-thumb*/ {
	cursor: pointer;
	background: var(--rainbow-color-1);
}
input[type=range]:nth-child(2):hover::-webkit-slider-thumb, input[type=range]:nth-child(2):hover::-moz-range-thumb/*, input[type=range]:nth-child(2):hover::-ms-thumb*/ {
	cursor: pointer;
	background: var(--rainbow-color-2);
}
input[type=range]:nth-child(3):hover::-webkit-slider-thumb, input[type=range]:nth-child(3):hover::-moz-range-thumb/*, input[type=range]:nth-child(3):hover::-ms-thumb*/ {
	cursor: pointer;
	background: var(--rainbow-color-3);
}



@media (max-width: 650px) {
	input[type=range]::-webkit-slider-thumb, input[type=range]::-moz-range-thumb {
		height: 18px;
		width: 18px;
	}
}
